# Creating and Updating Pandas Series

---

**Author:** Dr. Saad Laouadi  
**Copyright:** Dr. Saad Laouadi  

---

## License

**This material is intended for educational purposes only and may not be used directly in courses, video recordings, or similar without prior consent from the author. When using or referencing this material, proper credit must be attributed to the author.**

```text
#**************************************************************************
#* (C) Copyright 2024 by Dr. Saad Laouadi. All Rights Reserved.           *
#**************************************************************************                                                                    
#* DISCLAIMER: The author has used their best efforts in preparing        *
#* this content. These efforts include development, research,             *
#* and testing of the theories and programs to determine their            *
#* effectiveness. The author makes no warranty of any kind,               *
#* expressed or implied, with regard to these programs or                 *
#* to the documentation contained within. The author shall not            *
#* be liable in any event for incidental or consequential damages         *
#* in connection with, or arising out of, the furnishing,                 *
#* performance, or use of these programs.                                 *
#*                                                                        *
#* This content is intended for tutorials, online articles,               *
#* and other educational purposes.                                        *
#**************************************************************************
```

In [1]:
# Environment Setup
from datetime import datetime
import numpy as np
import pandas as pd

## Introduction

A Pandas Series can be used to handle various data types and is often accompanied by metadata such as labels (index) and a name. We’ll use an example of an inventory management system for a store, where each item’s quantity and year of restock is tracked.

### Store Inventory Management as a Pandas Series
Let’s consider a store inventory where stock levels of items need to be tracked over time, and we want to retrieve the metadata for reporting purposes.

Imagine that you are responsible for keeping track of how many units of each item are in stock. Using Pandas Series, you can:

- Store the stock data (number of units available).
- Label each item with its name (Laptop, Smartphone, etc.).
- Add a name to the Series for clarity in reporting.

This approach is more scalable and structured compared to using basic Python data structures like lists and dictionaries.

### Examole
In this example, we assume we are managing the stock levels of different items, and we want to track the number of units in stock for each item:

In [2]:
# Create a Pandas Series to represent stock levels of items
stock_levels = pd.Series(
    data=[120, 200, 80, 50, 150],
    index=['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Smartwatch'],
    name='Store Inventory'
)

print(stock_levels)

Laptop        120
Smartphone    200
Tablet         80
Headphones     50
Smartwatch    150
Name: Store Inventory, dtype: int64

**Explanation**:
- Data: The number of units in stock for each item.
- Index: The labels for each item (e.g., Laptop, Smartphone).
- Name: The name of the Series is "Store Inventory" which describes the context.

### Extracting Metadata
Once you have created a Pandas Series, you can easily extract various pieces of metadata such as the name, the index (labels), and the values stored in the Series.

#### Extracting the Name
You can retrieve the name of the Series by using the .name attribute:

In [3]:
# Get the name of the Series
series_name = stock_levels.name
print(f"Series Name: {series_name}")

Series Name: Store Inventory

#### Extracting the Index (Labels)
The index represents the labels for the data points. You can access the index with the .index attribute:

In [4]:
# Get the index (labels)
series_index = stock_levels.index
print(f"Index (Labels): {series_index}")

Index (Labels): Index(['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Smartwatch'], dtype='object')

#### Extracting the Values
The actual data stored in the Series can be accessed using the .values attribute:

In [5]:
# Get the values in the Series
series_values = stock_levels.values
print(f"Values (Stock Levels): {series_values}")

Values (Stock Levels): [120 200  80  50 150]

#### Combining Metadata Extraction
Here’s how you can combine all the metadata extraction in a single block:

In [6]:
# Extract metadata from the Series
print(f"Series Name: {stock_levels.name}")
print(f"Index (Labels): {stock_levels.index}")
print(f"Values (Stock Levels): {stock_levels.values}")

Series Name: Store Inventory
Index (Labels): Index(['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Smartwatch'], dtype='object')
Values (Stock Levels): [120 200  80  50 150]

## Creating a Pandas Series from Different Data Types

A Pandas Series can be created from various data structures such as lists, dictionaries, NumPy arrays, or scalar values. Below are examples of how to generate a Series from each data type along with randomly generated numbers for demonstration.

### 1. **Creating a Series from a List**
A list is one of the most common ways to create a Pandas Series.

In [7]:
# Creating a Series from a list of random integers
data_list = [10, 20, 30, 40, 50]
series_from_list = pd.Series(data_list, name="Series from List")

# Display the Series
print(series_from_list)

0    10
1    20
2    30
3    40
4    50
Name: Series from List, dtype: int64

### 2. Creating a Series from a NumPy Array

If you’re working with numerical data, NumPy arrays are often used to create a Pandas Series.

In [8]:
# Creating a Series from a NumPy array of random numbers
data_array = np.random.rand(5)  # Generates 5 random numbers between 0 and 1
series_from_array = pd.Series(data_array, name="Series from NumPy Array")

# Display the Series
print(series_from_array)

0    0.338656
1    0.113445
2    0.053242
3    0.006618
4    0.152904
Name: Series from NumPy Array, dtype: float64

### 3. Creating a Series from a Dictionary

A dictionary is an ideal way to create a Series if you want to have custom indices or labels for each value.

In [9]:
# Creating a Series from a dictionary with random integers
data_dict = {"A": 5, "B": 10, "C": 15, "D": 20}
series_from_dict = pd.Series(data_dict, 
                             name="Series from Dictionary")

# Display the Series
print(series_from_dict)

A     5
B    10
C    15
D    20
Name: Series from Dictionary, dtype: int64

### 4. Creating a Series from a Scalar Value

A scalar value can be used to create a Series with repeated values across different indices.

In [10]:
# Creating a Series from a scalar value (repeated)
scalar_value = 7
series_from_scalar = pd.Series(scalar_value, index=["A", "B", "C", "D"], name="Series from Scalar")

# Display the Series
print(series_from_scalar)

A    7
B    7
C    7
D    7
Name: Series from Scalar, dtype: int64

In [11]:
# Inventory data
inventory = [
    {"product": "Laptop", "quantity": 50, "price": 999.99},
    {"product": "Smartphone", "quantity": 0, "price": 699.99},
    {"product": "Tablet", "quantity": 25, "price": 399.99},
    {"product": "Headphones", "quantity": 5, "price": 49.99},
    {"product": "Monitor", "quantity": 100, "price": 199.99}
]

# Extracting product names as the index and prices as the data
product_names = [item['product'] for item in inventory]
product_prices = [item['price'] for item in inventory]

# Creating a Pandas Series for prices with product names as the index
prices_series = pd.Series(data=product_prices, index=product_names, name="Product Prices")

# Display the Series
print(prices_series)

Laptop        999.99
Smartphone    699.99
Tablet        399.99
Headphones     49.99
Monitor       199.99
Name: Product Prices, dtype: float64

## Examples from the Real World

In [12]:
# Create a Pandas Series from the book dataset (20 books)
books_info = {'title': [
        'To Kill a Mockingbird', 
        '1984', 
        'The Great Gatsby', 
        'Pride and Prejudice', 
        'Jane Eyre', 
        'Wuthering Heights', 
        'Moby-Dick', 
        'Alice in Wonderland', 
        'The Adventures of Huckleberry Finn', 
        'The Scarlet Letter',
        'War and Peace', 
        'Madame Bovary', 
        'The Count of Monte Cristo', 
        'Great Expectations', 
        'The Picture of Dorian Gray', 
        'Heidi', 
        'The Secret Garden', 
        'Treasure Island', 
        'The Little Prince'
    ],
    'author': [
        'Harper Lee', 
        'George Orwell', 
        'F. Scott Fitzgerald', 
        'Jane Austen', 
        'Charlotte Brontë', 
        'Emily Brontë', 
        'Herman Melville', 
        'Lewis Carroll', 
        'Mark Twain', 
        'Nathaniel Hawthorne',
        'Leo Tolstoy', 
        'Gustave Flaubert', 
        'Alexandre Dumas', 
        'Charles Dickens', 
        'Oscar Wilde', 
        'Johanna Spyri', 
        'Frances Hodgson Burnett', 
        'Robert Louis Stevenson', 
        'Antoine de Saint-Exupéry'
    ],
    'year': [
        1960, 
        1949, 
        1925, 
        1813, 
        1847, 
        1848, 
        1851, 
        1865, 
        1884, 
        1649,
        1869, 
        1856, 
        1844, 
        1860, 
        1890, 
        1887, 
        1881, 
        1883, 
        1922
    ]
}

In [13]:
# Create a Pandas DataFrame from the book dataset
book_data = pd.Series(data = books_info['title'],
                      index=books_info['year'], 
                     name = "Books Info")


# naming the index
book_data.index.name = "Year"

# Display the DataFrame
print(book_data)

Year
1960                 To Kill a Mockingbird
1949                                  1984
1925                      The Great Gatsby
1813                   Pride and Prejudice
1847                             Jane Eyre
1848                     Wuthering Heights
1851                             Moby-Dick
1865                   Alice in Wonderland
1884    The Adventures of Huckleberry Finn
1649                    The Scarlet Letter
1869                         War and Peace
1856                         Madame Bovary
1844             The Count of Monte Cristo
1860                    Great Expectations
1890            The Picture of Dorian Gray
1887                                 Heidi
1881                     The Secret Garden
1883                       Treasure Island
1922                     The Little Prince
Name: Books Info, dtype: object

In [14]:
# Create a Pandas Series from the movie rating dataset
movies_data = {
    'title': [
        'The Shawshank Redemption', 
        'The Godfather', 
        'The Dark Knight', 
        '12 Angry Men', 
        'Schindler\'s List', 
        'The Lord of the Rings: The Return of the King', 
        'Pulp Fiction', 
        'The Silence of the Lambs', 
        'Casablanca', 
        'Star Wars: Episode V - The Empire Strikes Back'
    ],
    'rating': [
        9.2, 
        8.5, 
        8.3, 
        8.1, 
        8.0, 
        7.8, 
        7.6, 
        7.4, 
        7.3, 
        7.2
    ]
}
movie_ratings = pd.Series(data = movies_data['rating'],
                         index = movies_data['title'], 
                         name = "Movies Ratings")
movie_ratings.index.name = 'Movies Titles'

print(movie_ratings)

Movies Titles
The Shawshank Redemption                          9.2
The Godfather                                     8.5
The Dark Knight                                   8.3
12 Angry Men                                      8.1
Schindler's List                                  8.0
The Lord of the Rings: The Return of the King     7.8
Pulp Fiction                                      7.6
The Silence of the Lambs                          7.4
Casablanca                                        7.3
Star Wars: Episode V - The Empire Strikes Back    7.2
Name: Movies Ratings, dtype: float64

In [15]:
# The weather data dataset
weather_info = {
    'date': ['2022-01-01', '2022-01-02', '2022-01-03'],
    'temperature': [32, 40, 50],
    'humidity': [60, 70, 80]
}
weather_data = pd.Series(data = weather_info.get('temperature'),
                        index = weather_info.get('date'),
                        name = "Temperature")

print(weather_data)

2022-01-01    32
2022-01-02    40
2022-01-03    50
Name: Temperature, dtype: int64

In [16]:
temperatures = pd.Series(
    [22.5, 25.1, 23.8, 21.7, 24.3, 26.5, 23.9],
    index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    name='Daily Temperature (°C)'
)
temperatures

Monday       22.5
Tuesday      25.1
Wednesday    23.8
Thursday     21.7
Friday       24.3
Saturday     26.5
Sunday       23.9
Name: Daily Temperature (°C), dtype: float64

---

### Technical Detailed Section

This section is more technical and aimed to those who want deeper into the methods and attributes of Pandas Series.

In [17]:
# Check the Series index type
print(type(series_index))

<class 'pandas.core.indexes.base.Index'>

In [18]:
# The Series values type
print(type(series_values))

<class 'numpy.ndarray'>

In [19]:
# Pandas Series Index methods and Attributes
print(dir(series_index))

['T', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__init__', '__init_subclass__', '__invert__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pandas_priority__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_arith_method', '_assert_can_do_setop', '_attributes', '_cache', '_can_hold_identifiers_and_holds_name', '_can_hold_na', '_can_hold_strings', '_can_use_libjoin', '_check_indexing_error', '_check_indexing_method', '_cleanup', '_cmp_method', '_comparables', '_concat', '_construct_result', '_constructor', '_convert_can_do_setop', '_convert_slice_indexer', '_convert_tolerance', '_data', '_data_cls', '_default_na_rep', '_difference', '_difference_compat', '_dir_additions', '_dir_additions_for_owner', '_dir_deletions', '_drop_level_numbers', '_dti_setop_align_tzs', '_dtype_to_subclass', '_duplicated', '_engine', '_engine_type', '_engine_types', '_ensure_array', '_filter_indexer_tolerance', '_find_common_type_compat', '_format_attrs', '_format_data', '_format_duplicate_message', '_format_flat', '_format_with_header', '_formatter_func', '_from_join_target', '_get_default_index_names', '_get_engine_target', '_get_fill_indexer', '_get_fill_indexer_searchsorted', '_get_indexer', '_get_indexer_non_comparable', '_get_indexer_strict', '_get_join_target', '_get_level_names', '_get_level_number', '_get_level_values', '_get_names', '_get_nearest_indexer', '_get_reconciled_name_object', '_get_string_slice', '_get_values_for_csv', '_getitem_slice', '_hidden_attrs', '_holds_integer', '_id', '_index_as_unique', '_inner_indexer', '_intersection', '_intersection_via_get_indexer', '_is_all_dates', '_is_comparable_dtype', '_is_memory_usage_qualified', '_is_multi', '_is_strictly_monotonic_decreasing', '_is_strictly_monotonic_increasing', '_isnan', '_join_empty', '_join_level', '_join_monotonic', '_join_multi', '_join_non_unique', '_join_via_get_indexer', '_left_indexer', '_left_indexer_unique', '_logical_method', '_map_values', '_maybe_cast_indexer', '_maybe_cast_listlike_indexer', '_maybe_cast_slice_bound', '_maybe_check_unique', '_maybe_disable_logical_methods', '_maybe_disallow_fill', '_maybe_downcast_for_indexing', '_maybe_preserve_names', '_memory_usage', '_mpl_repr', '_na_value', '_name', '_no_setting_name', '_outer_indexer', '_raise_if_missing', '_raise_invalid_indexer', '_raise_scalar_data_error', '_references', '_reindex_non_unique', '_rename', '_requires_unique_msg', '_reset_cache', '_reset_identity', '_searchsorted_monotonic', '_set_names', '_shallow_copy', '_should_compare', '_should_fallback_to_positional', '_should_partial_index', '_simple_new', '_sort_levels_monotonic', '_summary', '_supports_partial_string_indexing', '_transform_index', '_typ', '_unary_method', '_union', '_validate_can_reindex', '_validate_fill_value', '_validate_index_level', '_validate_indexer', '_validate_names', '_validate_positional_slice', '_validate_sort_keyword', '_values', '_view', '_with_infer', '_wrap_difference_result', '_wrap_intersection_result', '_wrap_joined_index', '_wrap_reindex_result', '_wrap_setop_result', 'all', 'any', 'append', 'argmax', 'argmin', 'argsort', 'array', 'asof', 'asof_locs', 'astype', 'copy', 'delete', 'diff', 'difference', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'duplicated', 'empty', 'equals', 'factorize', 'fillna', 'format', 'get_indexer', 'get_indexer_for', 'get_indexer_non_unique', 'get_level_values', 'get_loc', 'get_slice_bound', 'groupby', 'has_duplicates', 'hasnans', 'holds_integer', 'identical', 'infer_objects', 'inferred_type', 'insert', 'intersection', 'is_', 'is_boolean', 'is_categorical', 'is_floating', 'is_integer', 'is_interval', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_numeric', 'is_object', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'join', 'map', 'max', 'memory_usage', 'min', 'name', 'names', 'nbytes', 'ndim', 'nlevels', 'notna', 'notnull', 'nunique', 'putmask', 'ravel', 'reindex', 'rename', 'repeat', 'round', 'searchsorted', 'set_names', 'shape', 'shift', 'size', 'slice_indexer', 'slice_locs', 'sort', 'sort_values', 'sortlevel', 'str', 'symmetric_difference', 'take', 'to_flat_index', 'to_frame', 'to_list', 'to_numpy', 'to_series', 'transpose', 'union', 'unique', 'value_counts', 'values', 'view', 'where']